#container{
	width: 80%;
	margin:20px auto;
	height: 300px;
}
div{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	border: 2px solid #ccc;
	flex-grow: 1;
	-webkit-flex-grow:1;
	margin:20px; 
}
form{
	width: 200px;
	margin:20px auto;
}