body,ul,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,iput{margin:0;padding:0;}
body{font-size:16px; font-family: "microsoft yahei"}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
.content{
	width: 100%;
	background-color: #E0E0E0;
}
/*头部样式*/
.header{
	width: 100%;
	overflow: hidden;
	background-color: #383838;
}
.img{
	float: left;
}
.nav{
	float: right;
	margin-top: 18px;
}
.nav li{
	float: left;
	/*text-align: center;*/
	font-size: 12px;
	margin-right: 20px;
}
.nav a{
	text-decoration: none;
	color: #fff;
}
.nav li a:hover{
	color: red;
}
/*中间样式*/
.main{
	margin:20px;
	/*清除浮动*/
	overflow: hidden;
}
.main .box{
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow:1px 1px 2px 1px #848484;
}
.main .right{
	width:300px;
	float: right; 
}
.main .left{
	margin-right: 400px;
}
.right .submitbut{
	width: 100%;
	/*height: 40px;*/
	background-color: #128fdc;
	color: white;
	border-radius: 20px;
	font-size: 16px;
	font-weight: bold;
	border:0;
}
.left .pic{
	 overflow: hidden;
}
.left .pic .cont{
	text-align: center;
	float: left;
	margin-right: 30px;
}
.left table{
	width: 100%;
	border-collapse: collapse;
}
table thead{
	background-color: #363636;
	color: white;
}
table tfoot{
	background-color: #ccc;
}
table td{
	text-align: center;
}

/*底部样式*/
.footer{
	width: 100%;
	text-align: center;
	background-color: #000;
	height:60px;
	line-height:60px;
	color: #fff;
}
